<div class="px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
  <h2 class="display-4">Uložiště dat</h2>
</div>

<table class="table">
  <thead class="thead-dark">
  <tr>
    <th scope="col">#</th>
    <th scope="col">Struktura</th>
    <th scope="col">Data</th>
    <th scope="col">Poslední změna</th>
    <th scope="col">Akce</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <th scope="row">
      YUCBf12f7PZjx8wibEZn
    </th>
    <th scope="row">
      <a routerLink="../structures">
        Článek blogu
      </a>
    </th>
    <td>
      text:
      "Dnes je krásný den."<br/>
      title:
      "První článek blogu"
    </td>
    <td>
      9.4.2020 12:56
    </td>
    <td>
      <button class="btn btn-dark">
        Detail
      </button>
      &nbsp;
      <button class="btn btn-dark">
        Smazat
      </button>
    </td>
  </tr>
  </tbody>
</table>
