<div class="pt-5 pb-5">
  <form #analysisForm="ngForm" (ngSubmit)="onSubmit()" class="p-4 text-center">
    <div class="form-group">
      <input #text="ngModel" [(ngModel)]="formModel.text" class="form-control"
             id="text"
             name="text"
             placeholder="Zadejte dotaz..." required
             style="font-size: 2em;text-align: center"
             type="text">
    </div>

    <button [disabled]="!analysisForm.form.valid" class="btn btn-lg btn-outline-primary" type="submit">
      Vyhledat
    </button>
  </form>
</div>

<div *ngIf="response.output">
  <h2>Interpretace</h2>
  <div *ngFor="let box of response.output['interpretation']['boxes']" class="p-3">
    <div class="card">
      <div class="card-header">
        <span [innerHTML]="box['icon']"></span>
        {{box['title']}}
      </div>
      <div class="card-body">
        {{box['text']}}
      </div>
    </div>
  </div>

  <h2 class="pt-3">Řešení</h2>
  <div *ngFor="let box of response.output['response']['boxes']" class="p-3">
    <div class="card">
      <div class="card-header">
        <span [innerHTML]="box['icon']"></span>
        {{box['title']}}
      </div>
      <div class="card-body">
        {{box['text']}}
      </div>
    </div>
  </div>

  <div class="text-center p-3 font-weight-bold">
    Matematické výsledky poskytuje:
    <a href="https://mathematicator.com" target="_blank">
      Mathematicator.com
    </a>
  </div>
</div>
