<div class="pt-5 pb-2">
  <form #analysisForm="ngForm" (ngSubmit)="onSubmit()" class="p-4 text-center">
    <div class="form-group">
      <input #searchField #text="ngModel" [(ngModel)]="formModel.text" class="form-control"
             id="text"
             name="text"
             placeholder="Zadejte dotaz..." required
             style="font-size: 2em;text-align: center"
             type="text">
    </div>

    <button [disabled]="!analysisForm.form.valid" class="btn btn-lg btn-outline-primary" type="submit">
      Vyhledat
    </button>

    <div *ngIf="formModel.text.length" class="form-group form-check text-center pt-3">
      <input [(ngModel)]="devMode" [ngModelOptions]="{standalone: true}" id="devMode" type="checkbox">
      <label for="devMode">
        &nbsp;Vývojářský režim
      </label>
    </div>
  </form>
</div>

<div *ngIf="response.output">
  <div *ngFor="let box of response.output['interpretation']['boxes']" class="p-3">
    <app-search-box (search)="onSearch($event)" [box]="box" [debug]="devMode"></app-search-box>
  </div>

  <div class="row pt-3">
    <div class="col-md-10">
      <h2>Řešení</h2>
    </div>
    <div class="col-md-2">
      <a class="btn btn-sm btn-outline-dark"
         href="https://github.com/mathematicator-core/search/issues"
         target="_blank">
        <fa-icon [icon]="faExclamationTriangle"></fa-icon>&nbsp; Nahlásit chybu
      </a>
    </div>
  </div>

  <div *ngFor="let box of response.output['response']['boxes']" class="p-3">
    <app-search-box (search)="onSearch($event)" [box]="box" [debug]="devMode"></app-search-box>
  </div>

  <div class="text-center p-3 font-weight-bold">
    Matematické výsledky poskytuje:
    <a href="https://mathematicator.com" target="_blank">
      Mathematicator.com
    </a>
  </div>
</div>
