<div class="licenses-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center" id="licenses">
  <h2 class="display-4">
    <fa-icon [icon]="faBalanceScale"></fa-icon>&nbsp; Licence
  </h2>
</div>

<div class="p-5 text-center">
  <ul class="lead list-unstyled">
    <li><b>Milujeme open-source a svobodné licence
      (ideálně <a href="https://wiki.creativecommons.org/wiki/public_domain" target="_blank">Public Domain</a>)!</b>
    </li>
    <li>
      Zdrojový kód projektu je šířen pod svobodnou MIT licencí a je k dispozici v
      <a href="https://github.com/cothema/nlp20-web" target="_blank">repozitáři na Githubu</a>.
    </li>
    <li>
      U slovníků, agregovaných dat a dalších dat pro export jsou vždy uvedeny podmínky použití individuálně.
    </li>
  </ul>

  <div class="text-left">
    <div class="p-3">
      <h3>
        <fa-icon [icon]="faBalanceScale"></fa-icon>&nbsp; Public domain
      </h3>
      <p>
        Toto je nejsvobodnější svolení k užití díla. Autor si neklade vůbec žádné nároky a můžete práci využít
        jakýmkoliv způsobem chcete i bez uvedení autora.
      </p>
    </div>
    <div class="p-3">
      <h3>
        <fa-icon [icon]="faBalanceScale"></fa-icon>&nbsp; Creative Commons
      </h3>
      <p>
        Licence má několik variant. Jejich seznam naleznete zde: <a
        href="https://www.creativecommons.cz/licence-cc/varianty-licence/" target="_blank">creativecommons.cz</a>.
      </p>
    </div>
    <div class="p-3">
      <h3>
        <fa-icon [icon]="faBalanceScale"></fa-icon>&nbsp; MIT licence
      </h3>
      <p>
        Využívá se při tvorbě svobodného softwaru a patří k jednim z nejsvobodnějších.
      </p>
    </div>
    <div class="p-3">
      <h3>
        <fa-icon [icon]="faBalanceScale"></fa-icon>&nbsp; GNU/GPL licence
      </h3>
      <p>
        Využívá se při tvorbě svobodného softwaru. Odvozené práce musí být šířeny pod kompatibilní otevřenou licencí.
      </p>
    </div>
    <div class="p-3">
      <h3>
        <fa-icon [icon]="faBalanceScale"></fa-icon>&nbsp; Všechna práva vyhrazena
      </h3>
      <p>
        K dílu je nutné přistupovat přesně dle autorského zákona.
      </p>
    </div>
  </div>
</div>
