<div class="px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center" style="max-width:900px">
  <h2 class="display-4">O projektu Cothema</h2>

  <p class="lead p-4">
    <b>Chceme, aby si lidé více rozměli a snáze tak dosáhli svých cílů.</b>
  </p>

  <h3 class="pt-4 pb-1">
    <fa-icon [icon]="faBook"></fa-icon>&nbsp; 1. Kodifikace s počítačovou aplikovatelností
  </h3>
  <p class="lead p-1">
    <b>
      Naším prvním hlavním cílem je vytvoření nejsvobodnější inteligentní počítačové jazykové příručky
    </b>
    s využitím statistických metod a principů umělé inteligence.
    Pravidla by měla být definována formou algoritmů a výjimky jasně specifikovány.
    Počítač by tak měl být schopný pokud možno jednoznačně dané jevy identifikovat a
    zároveň je i aplikovat pro své výstupy.
  </p>

  <h3 class="pt-4 pb-1">
    <fa-icon [icon]="faSchool"></fa-icon>&nbsp; 1.1. Vzdělávací účely
  </h3>
  <p class="lead p-1">
    Při vývoji jazykových algoritmů se inspirujeme vzdělávacími postupy.
    Jako postranní produkt nám tak vzniká příručka, která je zaměřená především
    na děti základních škol. Věříme, že i my můžeme pomoci vzdělávacímu systému.
  </p>

  <h3 class="pt-4 pb-1">
    <fa-icon [icon]="faAtom"></fa-icon>&nbsp; 1.2. Výzkumné účely
  </h3>
  <p class="lead p-1">
    Příručka by měla být využitelná také pro odbornou veřejnost. Chceme být ve
    své práci maximálně otevření a zpřístupňovat výsledky naší práci i pro ostatní,
    ať již formou datových sad nebo konkrétních nástrojů.
  </p>

  <h3 class="pt-4 pb-1">
    <fa-icon [icon]="faHeart"></fa-icon>&nbsp; 1.3. Popularizace
  </h3>

  <p class="lead p-3">
    Budeme rádi, jestliže se nám podaří přispět k <b>popularizaci počítačové lingvistiky</b>
    a lingvistiky obecně.
  </p>

  <h3 class="pt-4 pb-1">
    <fa-icon [icon]="faDatabase"></fa-icon>&nbsp; 2. Vytvoření sémantického uložiště dat
  </h3>

  <p class="lead p-3">
    <b>Druhým hlavním pilířem našeho snažení je vytvoření sémantického uložiště dat,
      které bude specifické právě svým důrazem na význam uložených dat a jejich snadnou prohledatelnost
      sémantickými datazy.</b>
  </p>
  <p class="lead p-3">
    Klademe zde důraz na praktické využití. Věříme, že právě tento nástroj dokáže změnit náš každodenní život
    významným zjednodušením práce s informacemi.
  </p>

  <h3 class="pt-4 pb-1">
    <fa-icon [icon]="faSearch"></fa-icon>&nbsp; 2.1. Inteligentné vyhledávač
  </h3>

  <p class="lead p-3">
    <b>Největším naším snem je vytvoření inteligentního sémantického vyhledávače, který dokáže porozumět informacím</b>
    a pomůže nám orientovat se v nepřeberném množství informací.

  </p>
  <p class="lead p-3">
    <b>Problémem dnešní doby není, že informací je málo, problémem je, že informací je příliš mnoho.</b>
    Informace, které hledáme nebo chceme přijímat většinou existují, jen nejsme schopni se k nim v krátké době
    a ve správný okamžik dostat. Informace přijímáme často náhodně a dostáváme se do informačního zahlcení.
  </p>
  <p class="lead p-3">
    Nedokážeme předem odhadnout, která informace je pro nás důležitá a která nikoliv. U mnohých sociálních sítí a
    reklamních kampaní je to dokonce účel: získat si nás a udržet si nás za každou cenu co nejdéle.
    Jsme poté deprimovaní, ztrácíme schopnost koncentrace a naše úsilí má mizivou efektivitu.
  </p>
</div>

<hr/>

<div class="text-center">
  <h3 class="display-4 p-2">Využití v praxi</h3>

  <div class="p-4">
    <div class="row">
      <div class="col-md-6 p-2">
        <div class="card">
          <div class="card-header">
            <h4>Žák základní školy a jeho rodiče</h4>
          </div>
          <div class="card-body">
            Náš nástroj navrhujeme podobně jako kdybychom učili malé děti.
            Z toho důvodu jsme se rozhodli poskytnout výukový materiál
            pro žáky základních škol.
          </div>
          <div class="card-footer">
            <a routerLink="/pricing" class="badge badge-success">
              Zdarma</a>
          </div>
        </div>
      </div>
      <div class="col-md-6 p-2">
        <div class="card">
          <div class="card-header">
            <h4>Základní škola (pro učitele)</h4>
          </div>
          <div class="card-body">
            Poskytněte svým učitelům nástroj, kde naleznou podklady pro svou výuku.
            Pomůžeme najít příklady z praxe a maximálně jim zjednodušit přípravu.
          </div>
          <div class="card-footer">
            <a routerLink="/pricing" class="badge badge-success">
              <fa-icon [icon]="faDollarSign"></fa-icon>&nbsp; Základ (-50%)</a>
          </div>
        </div>
      </div>
      <div class="col-md-6 p-2">
        <div class="card">
          <div class="card-header">
            <h4>Blogger</h4>
          </div>
          <div class="card-body">
            Rádi byste psali svůj jednoduchý deník / blog?
            Pomůžete našemu nástroji se zdokonalit v rozpoznání textu
            a zároveň vám usnadní práci. Nástroj Vám bude pomáhat s korekcí,
            nalezne v textu klíčová slova, nalezne souvislosti a bude vám poskytovat
            přehled o vaší slovní zásobě.
          </div>
          <div class="card-footer">
            <a routerLink="/pricing" class="badge badge-success">
              Zdarma</a>
          </div>
        </div>
      </div>
      <div class="col-md-6 p-2">
        <div class="card">
          <div class="card-header">
            <h4>Jazykovědec</h4>
          </div>
          <div class="card-body">
            Poskytujeme datové sady pro další možné využití. Za pomoci
            nástroje je možné rovněž rychle analyzovat vložený text.
          </div>
          <div class="card-footer">
            <a routerLink="/pricing" class="badge badge-success">
              <fa-icon [icon]="faDollarSign"></fa-icon>&nbsp; Profi</a>
          </div>
        </div>
      </div>
      <div class="col-md-6 p-2">
        <div class="card">
          <div class="card-header">
            <h4>Vývojáři jazykových her</h4>
          </div>
          <div class="card-body">
            Využijte pro svou hru naše API rozhraní například pro ověřování
            existence slov, výběr slov dle slovního druhu, počtu znaků, počtu slabik,
            nebo počátečního, případně koncového písmene.
          </div>
          <div class="card-footer">
            <a routerLink="/pricing" class="badge badge-success">
              <fa-icon [icon]="faDollarSign"></fa-icon>&nbsp; Profi</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<hr/>

<div class="text-center">
  <h3 class="display-4">Poděkování</h3>

  <ul class="list-unstyled">
    <li>
      <a href="https://www.linkedin.com/in/jaficz/" target="_blank">
        Jan Fiala
      </a>
      (<a href="http://www.pspad.com/">www.pspad.com</a>)
      poskytl databázi 925.705 slov k dalšímu zpracování
    </li>
    <li>
      Děkujeme také všem přispěvovatelům, poradcům a dalším podporovatelům za podporu naší iniciativy!
    </li>
  </ul>
</div>
