<div class="px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center" style="max-width:900px">
  <h2 class="display-4">Cíle projektu Cothema NLP</h2>

  <h3 class="pt-4 pb-1">
    <fa-icon [icon]="faBook"></fa-icon>&nbsp; Kodifikace s počítačovou aplikovatelností
  </h3>
  <p class="lead p-1">
    <b>
      Naším hlavním cílem je vytvoření nejsvobodnější inteligentní počítačové jazykové příručky.
    </b>
    Pravidla by měla být definována formou algoritmů a výjimky jasně specifikovány.
    Počítač by tak měl být schopný pokud možno jednoznačně dané jevy identifikovat,
    odůvodnit a zároveň je i aplikovat pro své výstupy.
  </p>

  <h4 class="pt-4 pb-1">
    <fa-icon [icon]="faSchool"></fa-icon>&nbsp; Vzdělávací účely
  </h4>
  <p class="lead p-1">
    Při vývoji jazykových algoritmů se inspirujeme vzdělávacími postupy.
    Jako vedlejší produkt tak vzniká příručka, která může pomoci
    dětem na základních školách nebo cizincům učícím se jazyk.
  </p>

  <h4 class="pt-4 pb-1">
    <fa-icon [icon]="faAtom"></fa-icon>&nbsp; Výzkumné účely
  </h4>
  <p class="lead p-1">
    Příručka by měla být využitelná také pro odbornou veřejnost. Chceme být ve
    své práci maximálně otevření a zpřístupňovat výsledky naší práci i pro ostatní,
    ať již formou datových sad nebo konkrétních nástrojů.
  </p>

  <h4 class="pt-4 pb-1">
    <fa-icon [icon]="faHeart"></fa-icon>&nbsp; Popularizace lingvistiky
  </h4>

  <p class="lead p-3">
    Budeme rádi, jestliže se nám podaří přispět k <b>popularizaci počítačové lingvistiky</b>
    a lingvistiky obecně.
  </p>

<hr/>

<div class="text-center">
  <h3 class="display-4">Poděkování</h3>

  <ul class="list-unstyled">
    <li>
      <a href="https://www.linkedin.com/in/jaficz/" target="_blank">
        Jan Fiala
      </a>
      (<a href="http://www.pspad.com/">www.pspad.com</a>)
      poskytl databázi 925.705 slov k dalšímu zpracování
    </li>
    <li>
      Děkujeme také všem přispěvovatelům, poradcům a dalším podporovatelům za podporu naší iniciativy!
    </li>
  </ul>
</div>
