<form (ngSubmit)="onSubmit()" #analysisForm="ngForm" class="p-4 text-center">
  <div class="form-group">
    <input type="text" class="form-control" id="text"
           placeholder="Hledané slovo"
           required
           [(ngModel)]="formModel.text" name="text"
           #text="ngModel"
           style="font-size: 2em;text-align: center">
  </div>

  <div *ngIf="formModel.text.length">
    <fa-icon [icon]="faLanguage" style="font-size:2em;line-height:1em;position:relative;top:0.1em;"></fa-icon>&nbsp;
    <select class="form-control" style="display: inline-block;width: auto;margin-bottom: 0.5em;">
      <option>čeština</option>
    </select>
  </div>

  <button type="submit" class="btn btn-lg btn-success" [disabled]="!analysisForm.form.valid">
    Analyzovat
  </button>
</form>

<div class="text-center">

  <div class="text-right">
    <a [href]="'https://cs.wiktionary.org/wiki/' + this.formModel.text" class="btn btn-outline-dark">
      <fa-icon [icon]="faWikipediaW"></fa-icon>
      Otevřít ve Wikislovníku
    </a>
  </div>

  <app-spinner *ngIf="isSubmitted && !response?.syllables"></app-spinner>

  <app-syllable *ngIf="response" [syllables]="response?.syllables"
                [syllablesOrig]="response?.syllablesOrig"></app-syllable>

</div>
