<form #analysisForm="ngForm" (ngSubmit)="onSubmit()" class="p-4 text-center">
  <div class="form-group">
    <input #text="ngModel" [(ngModel)]="formModel.text" class="form-control"
           id="text"
           name="text"
           placeholder="Hledané slovo" required
           style="font-size: 2em;text-align: center"
           type="text">
  </div>

  <div *ngIf="formModel.text.length">
    <fa-icon [icon]="faLanguage" style="font-size:2em;line-height:1em;position:relative;top:0.1em;"></fa-icon>&nbsp;
    <select class="form-control" style="display: inline-block;width: auto;margin-bottom: 0.5em;">
      <option>čeština</option>
    </select>
  </div>

  <button [disabled]="!analysisForm.form.valid" class="btn btn-lg btn-success" type="submit">
    Analyzovat
  </button>
</form>

<div class="text-center">

  <app-spinner *ngIf="isSubmitted && !response?.syllables"></app-spinner>

  <div class="text-right">
    <a [href]="'https://www.nechybujte.cz/slovnik-soucasne-cestiny/' + this.formModel.text"
       class="btn btn-outline-dark"
       target="_blank">
      Otevřít v nechybujte.cz
    </a>
    &nbsp;
    <a [href]="'https://cs.wiktionary.org/wiki/' + this.formModel.text"
       class="btn btn-outline-dark"
       target="_blank">
      <fa-icon [icon]="faWikipediaW"></fa-icon>
      Otevřít ve Wikislovníku
    </a>
  </div>

  <app-syllable *ngIf="response" [syllablesOrig]="response?.syllablesOrig"
                [syllables]="response?.syllables"></app-syllable>

</div>
