<h2><fa-icon [icon]="faDollarSign"></fa-icon>&nbsp; Ceník</h2>

<p>
  Rádi bychom Vám nabídnuli vše zdarma, ale provoz, vývoj a výzkum něco stojí.
</p>

<div class="container">
  <div class="card-deck mb-3 text-center">
    <div class="card mb-4 box-shadow">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">Zdarma</h4>
      </div>
      <div class="card-body">
        <ul class="list-unstyled mt-3 mb-4">
          <li>Základní analýzy</li>
          <li>Slovník</li>
          <li>Exporty do 100 řádků</li>
          <li>Komunitní Facebook skupina</li>
        </ul>
        <button type="button" class="btn btn-lg btn-block btn-outline-primary">Zaregistrovat se</button>
      </div>
    </div>
    <div class="card mb-4 box-shadow">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">Základ</h4>
      </div>
      <div class="card-body">
        <h1 class="card-title pricing-card-title">150 Kč <small class="text-muted">/ měs.</small></h1>
        <ul class="list-unstyled mt-3 mb-4">
          <li>&hearts; Podpoříte rozvoj projektu</li>
          <li>Exporty do 1000 řádků</li>
        </ul>
        <button type="button" class="btn btn-lg btn-block btn-primary">Kontaktujte nás</button>
      </div>
    </div>
    <div class="card mb-4 box-shadow">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">Profesionál</h4>
      </div>
      <div class="card-body">
        <h1 class="card-title pricing-card-title">450 <small class="text-muted">/ měs.</small></h1>
        <ul class="list-unstyled mt-3 mb-4">
          <li>&hearts; Podpoříte rozvoj projektu</li>
          <li>Exporty bez omezení počtu řádků řádků</li>
        </ul>
        <button type="button" class="btn btn-lg btn-block btn-primary">
          Kontaktujte nás
        </button>
      </div>
    </div>
  </div>
</div>

<h3>Slevy</h3>
Nabízíme slevy pro neziskové organizace, vzdělávací instituce a studenty až 50%.

<hr/>

<h2><fa-icon [icon]="faBalanceScale"></fa-icon>&nbsp; Licence</h2>
<b>Milujeme open-source a svobodné licence!</b><br/>
Zdrojový kód projektu je šířen pod svobodnou MIT licencí a je k dispozici v repozitáři na Githubu.

<p>
  U slovníků, agregovaných dat a dalších dat pro export jsou vždy uvedeny podmínky použití individuálně.
</p>
