<app-learn-material-header [material]="learnMaterial"></app-learn-material-header>

<app-learn-material-toolbar></app-learn-material-toolbar>

<app-learn-material-learn-steps [material]="learnMaterial"></app-learn-material-learn-steps>

<div>
  <ul [(activeId)]="activeTab" class="nav-tabs d-print-none" ngbNav style="margin-top: 2em">
    <li [ngbNavItem]="'recognition'">
      <a ngbNavLink>Rozeznání počítačem</a>
    </li>
  </ul>
</div>

<div [ngSwitch]="activeTab" class="p-3">
  <app-recognition-syllable *ngSwitchCase="'recognition'"></app-recognition-syllable>
</div>
