<div class="px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
  <h2 class="display-4">Užitečné odkazy</h2>
</div>

<h3>Čeština</h3>

<ul>
  <li>
    <a href="http://ujc.cas.cz/" target="_blank">
      Ústav pro jazyk český (AV ČR): ujc.cas.cz
    </a>
  </li>
  <li>
    <a href="http://neologismy.cz/" target="_blank">
      neologismy.cz
    </a>
  </li>
</ul>

<h4>Výuka</h4>
<ul>
  <li>
    <a href="https://www.mojecestina.cz/" target="_blank">
      mojecestina.cz
    </a>
  </li>
  <li>
    <a href="https://www.studuju.cz/" target="_blank">
      studuju.cz
    </a>
  </li>
  <li>
    <a href="https://www.umimecesky.cz/" target="_blank">
      umimecesky.cz
    </a>
  </li>
  <li>
    <a href="https://skolaposkole.cz/" target="_blank">
      skolaposkole.cz
    </a>
  </li>
</ul>


<h4>Počítačová lingvistika</h4>

<ul>
  <li>
    <a href="https://www.facebook.com/groups/1076379422730142" target="_blank">
      <fa-icon [icon]="faFacebookF"></fa-icon>&nbsp; Facebook skupina: Počítačová lingvistika a zpracování přirozeného
      jazyka (NLP)
    </a>
  </li>
</ul>

<h5>
  <fa-icon [icon]="faUniversity"></fa-icon>&nbsp;
  Studium na VŠ
</h5>

<div class="row">
  <div class="col-md-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">MFF UK Praha: Studijní program Matematická lingvistika</h5>
        <div class="card-text">
          <a
            href="https://www.mff.cuni.cz/cs/studenti/bc-a-mgr-studium/studijni-plany/2018-2019/studijni-program-informatika/b-navazujici-magisterske-studium/zahajeni-studia-v-roce-2015-nebo-pozdeji/matematicka-lingvistika"
            target="_blank">
            <fa-icon [icon]="faGlobe"></fa-icon>&nbsp; Web: mff.cuni.cz
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">FF MU Brno: Český jazyk se specializací počítačová lingvistika (PLIN)</h5>
        <div class="card-text">
          <a href="http://www.pocitacova-lingvistika.cz/" target="_blank">
            <fa-icon [icon]="faGlobe"></fa-icon>&nbsp; Web: pocitacova-lingvistika.cz
          </a>
          <br/>
          <a href="https://www.facebook.com/lingvistika" target="_blank">
            <fa-icon [icon]="faFacebookF"></fa-icon>&nbsp; Facebook stránka
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<br/>

<h5>Nástroje pro jazykovědce</h5>
<ul>
  <li>
    <a href="https://nlp.fi.muni.cz/cs/LangToolsLinks" target="_blank">
      nlp.fi.muni.cz: Rozcestník
    </a>
  </li>
  <li>
    <a href="https://www.geneea.com/" target="_blank">
      geneea.com
    </a>
  </li>
</ul>
