<h2>Užitečné odkazy</h2>

<h3>Čeština</h3>

<h4>Výuka</h4>
<ul>
  <li>
    <a href="https://www.mojecestina.cz/" target="_blank">
      mojecestina.cz
    </a>
  </li>
  <li>
    <a href="https://www.studuju.cz/" target="_blank">
      studuju.cz
    </a>
  </li>
  <li>
    <a href="https://www.umimecesky.cz/" target="_blank">
      umimecesky.cz
    </a>
  </li>
  <li>
    <a href="https://skolaposkole.cz/" target="_blank">
      skolaposkole.cz
    </a>
  </li>
</ul>

<h4>Nástroje pro jazykovědce</h4>
<ul>
  <li>
    <a href="https://nlp.fi.muni.cz/cs/LangToolsLinks" target="_blank">
      nlp.fi.muni.cz: Rozcestník
    </a>
  </li>
  <li>
    <a href="https://www.geneea.com/" target="_blank">
      geneea.com
    </a>
  </li>
</ul>
