<div class="px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
  <h2 class="display-4">
    Přihlášení
  </h2>

  <form class="form-signin" style="max-width: 400px;margin:0 auto;">
    <div class="p-2">
      <label for="inputEmail" class="sr-only">Email address</label>
      <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required="" autofocus="">
    </div>
    <div class="p-2">
      <label for="inputPassword" class="sr-only">Password</label>
      <input type="password" id="inputPassword" class="form-control" placeholder="Password" required="">
    </div>
    <div class="p-2">
      <button class="btn btn-lg btn-primary btn-block" type="submit">Přihlásit se</button>
    </div>
  </form>
</div>
