<fa-icon [icon]="faLanguage"></fa-icon>&nbsp;
<b>{{'analysis.lang'|translate}}:</b> čeština

<form (ngSubmit)="onSubmit()" #analysisForm="ngForm">
  <div class="form-group">
    <textarea rows="5" class="form-control" id="text"
              placeholder="{{'analysis.text'|translate}}"
              required
              [(ngModel)]="formModel.text" name="text"
              #text="ngModel"></textarea>
  </div>

  <div class="form-group form-check" *ngIf="formModel.text.length">
    <input type="checkbox" id="devMode" [(ngModel)]="devMode" [ngModelOptions]="{standalone: true}">
    <label for="devMode">
      &nbsp;Vývojářský režim
    </label>

    &nbsp;

    <input type="checkbox" id="showStats" [(ngModel)]="showStats" [ngModelOptions]="{standalone: true}">
    <label for="showStats">
      &nbsp;Zobrazit statistiky
    </label>

    &nbsp;

    <input type="checkbox" id="showVerbalTypes" [(ngModel)]="showVerbalTypes" [ngModelOptions]="{standalone: true}">
    <label for="showVerbalTypes">
      &nbsp;Zobrazit slovní druhy
    </label>
  </div>

  <button type="submit" class="btn btn-success" [disabled]="!analysisForm.form.valid">
    Analyzovat
  </button>
  &nbsp;
  <button *ngIf="!formModel.text.length" (click)="onSubmitExample()" class="btn btn-primary">
    Vyzkoušet na ukázce
  </button>
  &nbsp;
  <button class="btn btn-danger" (click)="onClear()" *ngIf="formModel.text.length">
    Smazat
  </button>
</form>

<div *ngIf="apiResponse" class="card" style="margin-top: 1em;">
  <div class="card-body">
    <h5 class="card-title">Analýza textu</h5>
    <div class="card-text">
      <div class="text-center">
        <div>Analyzovaný text:</div>
        <h6>{{apiResponse.text}}</h6>
        <div *ngIf="showStats">
          Počet slov: {{apiResponse.words.length}}<br/>
          Počet znaků: {{apiResponse.text.length}}<br/>
        </div>
      </div>
      <div *ngFor="let sentence of apiResponse.sentences">
        <hr>
        <div>Jednotlivá věta:</div>
        <h6>{{sentence.text}}</h6>
        Typ věty: oznamovací
        <div *ngIf="showStats">
          Počet slov: {{sentence.words.length}}<br/>
          Počet znaků: {{sentence.text.length}}<br/>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="apiResponse && devMode" class="card" style="margin-top: 1em;">
  <div class="card-body">
    <h5 class="card-title">API odpověď</h5>
    <div class="card-text">
      <ngx-json-viewer [json]="apiResponse" [expanded]="false"></ngx-json-viewer>
    </div>
  </div>
</div>
