<div class="card">
  <div class="card-header">
    Vítejte v nejjednoduší, nejzábavnější a zároveň nejmocnější příručce českého jazyka! Možná ne úplně doslova,
    ale co není, může být!
  </div>
</div>

<hr/>

<form (ngSubmit)="onSubmit()" #analysisForm="ngForm">
  <div class="form-group">
    <textarea rows="5" class="form-control" id="text"
              placeholder="{{'analysis.text'|translate}}"
              required
              [(ngModel)]="formModel.text" name="text"
              #text="ngModel"></textarea>
  </div>

  <div *ngIf="formModel.text.length">
    <fa-icon [icon]="faLanguage" style="font-size:2em;line-height:1em;position:relative;top:0.1em;"></fa-icon>&nbsp;
    <select class="form-control" style="display: inline-block;width: auto;margin-bottom: 0.5em;">
      <option>čeština</option>
    </select>
  </div>

  <div class="form-group form-check text-center" *ngIf="formModel.text.length">
    <input type="checkbox" id="devMode" [(ngModel)]="devMode" [ngModelOptions]="{standalone: true}">
    <label for="devMode">
      &nbsp;Vývojářský režim
    </label>

    &nbsp;

    <input type="checkbox" id="showStats" [(ngModel)]="showStats" [ngModelOptions]="{standalone: true}">
    <label for="showStats">
      &nbsp;Statistiky
    </label>

    &nbsp;

    <input type="checkbox" id="showVerbalTypes" [(ngModel)]="showVerbalTypes" [ngModelOptions]="{standalone: true}">
    <label for="showVerbalTypes">
      &nbsp;Slovní druhy
    </label>

    &nbsp;

    <input type="checkbox" id="showVerbalTypes" [(ngModel)]="showVerbalTypes" [ngModelOptions]="{standalone: true}">
    <label for="showVerbalTypes">
      &nbsp;Výroková logika
    </label>
  </div>

  <div class="text-center">
    <button type="submit" class="btn btn-success" [disabled]="!analysisForm.form.valid">
      Analyzovat
    </button>
    &nbsp;
    <button *ngIf="!formModel.text.length" (click)="onSubmitExample()" class="btn btn-primary">
      Vyzkoušet na ukázce
    </button>
    &nbsp;
    <button class="btn btn-danger" (click)="onClear()" *ngIf="formModel.text.length">
      Smazat
    </button>
  </div>
</form>

<div *ngIf="apiResponse" class="card" style="margin-top: 1em;">
  <div class="card-body">
    <h5 class="card-title">Analýza textu</h5>
    <div class="card-text">
      <div class="text-center">
        <div>Analyzovaný text:</div>
        <h6>{{apiResponse.text}}</h6>
        <div *ngIf="showStats">
          Počet slov: {{apiResponse.words.length}}<br/>
          Počet znaků: {{apiResponse.text.length}}<br/>
        </div>
      </div>
      <div *ngFor="let sentence of apiResponse.sentences">
        <hr>
        <div>Jednotlivá věta:</div>
        <h6>{{sentence.text}}</h6>
        Typ věty: oznamovací
        <div *ngIf="showStats">
          Počet slov: {{sentence.words.length}}<br/>
          Počet znaků: {{sentence.text.length}}<br/>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="apiResponse && devMode" class="card" style="margin-top: 1em;">
  <div class="card-body">
    <h5 class="card-title">API odpověď</h5>
    <div class="card-text">
      <ngx-json-viewer [json]="apiResponse" [expanded]="false"></ngx-json-viewer>
    </div>
  </div>
</div>
