<div class="p-3 text-center">
  <h2>Nastavení</h2>
</div>

<table class="table table-striped" style="max-width: 600px;margin: 0 auto;">
  <tbody>
  <tr>
    <td>
      Úroveň funkcí:
    </td>
    <td>
      <select (change)="onFeatureLevelChanged($event)"
              [ngModel]="featureLevelService.currentLevel"
              class="form-control">
        <option *ngIf="featureLevelService.levelProd >= featureLevelService.currentLevel"
                [value]="featureLevelService.levelProd">
          Produkce
        </option>
        <option *ngIf="featureLevelService.levelBeta >= featureLevelService.currentLevel"
                [value]="featureLevelService.levelBeta">
          Beta
        </option>
        <option *ngIf="featureLevelService.levelDev >= featureLevelService.currentLevel"
                [value]="featureLevelService.levelDev">
          Ve vývoji
        </option>
      </select>
    </td>
  </tr>
  </tbody>
</table>
