<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
  <h2 class="display-4">
    Ceník
  </h2>

  <p class="lead p-3">
    Rádi bychom Vám nabídnuli vše zdarma, ale provoz, vývoj a výzkum něco stojí.
    Základní služby poskytujeme zdarma. Služby, které nás stojí větší úsilí a jsou
    případně také výpočetně náročnější zpoplatňujeme férovým poplatkem.
  </p>
</div>

<ul (activeIdChange)="onPricingModelChange()" [(activeId)]="activePricingModel" class="nav-tabs" ngbNav>
  <li [ngbNavItem]="'basic'">
    <a ngbNavLink>Základní ceník</a>
  </li>
  <li [ngbNavItem]="'nonprofit'">
    <a ngbNavLink>Studenti a neziskový sektor</a>
  </li>
</ul>

<br/>

<div class="container">
  <div class="card-deck mb-3 text-center">
    <div class="card mb-4 box-shadow">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">Zdarma</h4>
      </div>
      <div class="card-body text-left">
        <ul class="mt-3 mb-4">
          <li>
            <a routerLink="/learn">Učivo ZŠ</a>
          </li>
          <li>
            <a routerLink="/">Základní analýza textu</a>
          </li>
          <li>
            <a routerLink="/dictionary">Slovník</a>
          </li>
          <li>
            <a routerLink="/spelling">Kontrola pravopisu</a>
          </li>
          <li>Exporty do 100 řádků</li>
          <li>Uložení až 100 záznamů strukturovaných dat</li>
          <li>Komunitní Facebook skupina</li>
        </ul>
        <hr/>
        <b>
          <fa-icon [icon]="faDatabase"></fa-icon>&nbsp; Uložiště strukturovaných dat:
        </b>
        <ul class="mt-3 mb-4">
          <li>Uložení až 250 záznamů</li>
        </ul>
      </div>
      <div class="card-footer">
        <a class="btn btn-lg btn-block btn-primary" routerLink="/sign-in" type="button">
          Zaregistrovat se
        </a>
        <p>
          <small>Vhodné pro běžnou veřejnost, rodiče dětí na ZŠ a samotné děti.</small>
        </p>
      </div>
    </div>
    <div class="card mb-4 box-shadow">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">Základ</h4>
      </div>
      <div class="card-body">
        <h1 class="card-title pricing-card-title">{{pricingModelBasic.basic.price * discount}} Kč <small
          class="text-muted">/
          měs.</small></h1>
        <span class="text-muted">2. rok: {{pricingModelBasic.basic.price2 * discount}} Kč / měs.</span><br/>
        <span class="text-muted">3. a další roky: {{pricingModelBasic.basic.price3 * discount}} Kč / měs.</span><br/>
        <div class="text-left">
          <ul class="text-left mt-3 mb-4">
            <li>
              <a routerLink="/">Pokročilá analýza textu</a>
            </li>
            <li>
              Exporty do 1&nbsp;000 řádků
            </li>
            <li>
              <a routerLink="/datasets">Základní datové sady</a>
            </li>
            <li>
              <a routerLink="/api">Částečný API přístup</a>
            </li>
            <li>
              Bez reklam
            </li>
          </ul>
          <hr/>
          <b>
            <fa-icon [icon]="faDatabase"></fa-icon>&nbsp; Uložiště strukturovaných dat:
          </b>
          <ul class="text-left mt-3 mb-4">
            <li>Uložení až 1&nbsp;000 záznamů</li>
          </ul>
        </div>
      </div>
      <div class="card-footer">
        <a class="btn btn-lg btn-block btn-primary" href="mailto:havlicek@cothema.com" type="button">
          Kontaktujte nás
        </a>
        <p>
          <small>Vhodné pro učitele, studenty VŠ a amatérské jazykovědce.</small>
        </p>
      </div>
    </div>
    <div class="card mb-4 box-shadow">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">Profi</h4>
      </div>
      <div class="card-body">
        <h1 class="card-title pricing-card-title">{{pricingModelBasic.pro.price * discount}} <small class="text-muted">/
          měs.</small></h1>
        <span class="text-muted">2. rok: {{pricingModelBasic.pro.price2 * discount}} Kč / měs.</span><br/>
        <span class="text-muted">3. a další roky: {{pricingModelBasic.pro.price3 * discount}} Kč / měs.</span><br/>
        <div class="text-left">
          <ul class="mt-3 mb-4">
            <li>
              <a routerLink="/">Pokročilá analýza textu</a>
            </li>
            <li>
              Exporty bez omezení počtu řádků řádků
            </li>
            <li>
              <a routerLink="/datasets">Veškeré datové sady</a>
            </li>
            <li>
              <a routerLink="/api">Kompletní API přístup</a>
            </li>
            <li>
              Bez reklam
            </li>
          </ul>
          <hr/>
          <b>
            <fa-icon [icon]="faDatabase"></fa-icon>&nbsp; Uložiště strukturovaných dat:
          </b>
          <ul class="mt-3 mb-4">
            <li>Uložení až 50&nbsp;000 záznamů (poté individuální poplatek)</li>
          </ul>
        </div>
      </div>
      <div class="card-footer">
        <a class="btn btn-lg btn-block btn-primary" href="mailto:havlicek@cothema.com" type="button">
          Kontaktujte nás
        </a>
        <p>
          <small>Vhodné pro odbornou veřejnost, vývojáře a komerční firmy.</small>
        </p>
      </div>
    </div>
  </div>
</div>

<p class="p-3 lead text-center">Placeným členstvím podpoříte rozvoj projektu &hearts;</p>

<hr/>

<div class="p-5 text-center">
  <h3 class="display-4">Slevy</h3>
  <ul class="lead list-unstyled">
    <li>Nabízíme slevu pro neziskové organizace, vzdělávací instituce a studenty ve výši 50%.</li>
    <li><b>V případě, že pro Váš účel využití jsou poplatky neúměrně vysoké, kontaktujte nás prosím pro individuální
      dohodu.</b></li>
    <li>Přispěvovatelům do zdrojového kódu a dalším spolupracovníkům nabízíme naše služby zdarma v individuálním
      rozsahu.
    </li>
  </ul>
</div>

<hr/>

<div class="p-5 text-center" id="licenses">
  <h2 class="display-4">
    <fa-icon [icon]="faBalanceScale"></fa-icon>&nbsp; Licence
  </h2>
  <ul class="lead list-unstyled">
    <li><b>Milujeme open-source a svobodné licence
      (ideálně <a href="https://wiki.creativecommons.org/wiki/public_domain" target="_blank">Public Domain</a>)!</b>
    </li>
    <li>
      Zdrojový kód projektu je šířen pod svobodnou MIT licencí a je k dispozici v
      <a href="https://github.com/cothema/nlp20-web" target="_blank">repozitáři na Githubu</a>.
    </li>
    <li>
      U slovníků, agregovaných dat a dalších dat pro export jsou vždy uvedeny podmínky použití individuálně.
    </li>
  </ul>

  <div class="text-left">
    <div class="p-3">
      <h3>
        <fa-icon [icon]="faBalanceScale"></fa-icon>&nbsp; Public domain
      </h3>
      <p>
        Toto je nejsvobodnější svolení k užití díla. Autor si neklade vůbec žádné nároky a můžete práci využít
        jakýmkoliv způsobem chcete i bez uvedení autora.
      </p>
    </div>
    <div class="p-3">
      <h3>
        <fa-icon [icon]="faBalanceScale"></fa-icon>&nbsp; Creative Commons
      </h3>
      <p>
        Licence má několik variant. Jejich seznam naleznete zde: <a
        href="https://www.creativecommons.cz/licence-cc/varianty-licence/" target="_blank">creativecommons.cz</a>.
      </p>
    </div>
    <div class="p-3">
      <h3>
        <fa-icon [icon]="faBalanceScale"></fa-icon>&nbsp; MIT licence
      </h3>
      <p>
        Využívá se při tvorbě svobodného softwaru a patří k jednim z nejsvobodnějších.
      </p>
    </div>
    <div class="p-3">
      <h3>
        <fa-icon [icon]="faBalanceScale"></fa-icon>&nbsp; GNU/GPL licence
      </h3>
      <p>
        Využívá se při tvorbě svobodného softwaru. Odvozené práce musí být šířeny pod kompatibilní otevřenou licencí.
      </p>
    </div>
    <div class="p-3">
      <h3>
        <fa-icon [icon]="faBalanceScale"></fa-icon>&nbsp; Všechna práva vyhrazena
      </h3>
      <p>
        K dílu je nutné přistupovat přesně dle autorského zákona.
      </p>
    </div>
  </div>
</div>
