<h2>Učivo pro ZŠ</h2>

<div class="row">
  <div class="col-md-4">
    <div class="card">
      <div class="card-header">
        <h4>Slovní druhy</h4>
      </div>
      <div class="card-body">

      </div>
      <div class="card-footer">
        <button type="button" class="btn btn-lg btn-block btn-outline-primary">Naučit se</button>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card">
      <div class="card-header">
        <h4>Vzory podstatných jmen</h4>
      </div>
      <div class="card-body">
        Vzory nám pomáhají se správným skloňováním.
      </div>
      <div class="card-footer">
        <button type="button" class="btn btn-lg btn-block btn-outline-primary">Naučit se</button>
      </div>
    </div>
  </div>
</div>
