<div class="text-center p-3">
  <div *ngIf="actualWord" style="font-size: 2em;font-weight: bold">
    Kolik slabik má slovo "{{actualWord.string}}"?
  </div>

  <form (ngSubmit)="onSubmitAnswer()" ngForm>
    <div class="input-group" style="margin: 0 auto;max-width: 300px">
      <input
        #answerElement
        [(ngModel)]="answer"
        [disabled]="actualWord.answerSyllables"
        aria-describedby="button-addon"
        class="form-control form-control-lg text-center"
        id="answer"
        max="10"
        min="1"
        name="answer"
        type="number">

      <div class="input-group-append" id="button-addon">
        <button *ngIf="!actualWord.answerSyllables" [disabled]="!answer"
                class="btn btn-success btn-lg"
                type="submit">
          Odpovědět
        </button>
        <button (click)="onNextQuestion()" *ngIf="actualWord.answerSyllables" class="btn btn-primary btn-lg"
                type="button">
          Další otázka
        </button>
      </div>
    </div>
  </form>

  <app-spinner *ngIf="submitted && !actualWord.answerSyllables"></app-spinner>

  <div class="pt-5">
    <div *ngIf="isAnswerCorrect" class="alert alert-success p-4" style="max-width: 10em;margin: 0 auto;">
      Bravo! Správná odpověď!
    </div>

    <div *ngIf="isAnswerCorrect === false" class="alert alert-danger p-4" style="max-width: 10em;margin: 0 auto;">
      Bohužel! Špatná odpověď!
    </div>
  </div>

  <app-syllable *ngIf="actualWord.answerSyllables"
                [syllablesOrig]="actualWord.answerSyllablesOrig"
                [syllables]="actualWord.answerSyllables"></app-syllable>
</div>
