<app-learn-material-header [material]="learnMaterial"></app-learn-material-header>

<app-learn-material-toolbar></app-learn-material-toolbar>

<app-learn-material-learn-steps [material]="learnMaterial"></app-learn-material-learn-steps>

<div>
  <h3>
    <fa-icon [icon]="faBook"></fa-icon>&nbsp; Učivo
  </h3>

  <ul [(activeId)]="activeTab" class="nav-tabs d-print-none" ngbNav style="margin-top: 2em">
    <li [ngbNavItem]="'theory'">
      <a ngbNavLink>Teorie</a>
    </li>
    <li [ngbNavItem]="'exercise'">
      <a ngbNavLink>Cvičení</a>
    </li>
    <li [ngbNavItem]="'recognition'">
      <a ngbNavLink>Rozeznání počítačem</a>
    </li>
    <li [ngbNavItem]="'discussion'">
      <a ngbNavLink>Dotazy a diskuze</a>
    </li>
  </ul>
</div>

<div [ngSwitch]="activeTab" class="p-3">
  <app-train-syllables *ngSwitchCase="'exercise'"></app-train-syllables>
  <app-recognition-syllable *ngSwitchCase="'recognition'"></app-recognition-syllable>
  <div *ngSwitchCase="'theory'">
    <div class="p-3">
      Nejjednoduší způsob určení slabik je jejich vytleskávání.
      Tento postup by měli zvládat u jednoduších slov i děti
      při svém vstupu na základní školu.
      Jak toto učivo zvládáte si můžete vyzkoušet v jednom
      z cvičení.
    </div>

    <app-learn-material-links [material]="learnMaterial"></app-learn-material-links>

    <app-learn-material-footer [material]="learnMaterial"></app-learn-material-footer>
  </div>
</div>
